<div class="my-css">
    <p-table #dt [value]="donors" [rows]="5" [paginator]="true"
        [globalFilterFields]="['name','category','representative.name','status']" 
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Donors</h5>
                <p-button  (click)="newDonor()">new donor</p-button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="donor">Email <p-sortIcon field="email"></p-sortIcon></th>             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donor>
            <tr>
                <td>
                    <p-tableCheckbox [value]="donor"></p-tableCheckbox>
                </td>
                <td>{{donor.id}}</td>
                <td>{{donor.name}}</td>
                <td>{{donor.email}}</td>
                <td>
                    <button (click)="deleteDonor(donor.id)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"></button> 
                 </td>
                <td>
                <button  (click)="showDialog(donor)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                 </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{donors ? donors.length : 0 }} gifts.
            </div>
        </ng-template>
    </p-table>
</div>
<div class="card flex justify-content-center">
<p-dialog [(visible)]="visible">
    <div>name</div>
        <input type="text" pInputText [(ngModel)]="donorToUpdate.name" [value]="selectedDonor.name" />
        <div>email</div>
        <input type="text" pInputText [(ngModel)]="donorToUpdate.email" [value]="selectedDonor.email" />
        <br>
        <p-button label="Cancel" (click)="closeDialog()" [text]="true" ></p-button>
        <p-button label="Save" (click)="updateDonor()" [text]="true"></p-button>
    </p-dialog>
    </div>
    <p-toast></p-toast>
<router-outlet></router-outlet>